body{
	font-family: Arial;
}
.image{
	display: none;
	border: 20px solid green; 
	border-radius: 10px;
}
#next{
	margin: 20px;
	font-size: 50pt;
}
h1{
	font-size: 50pt;
}
.main{
	margin-left: 200pt;
}
#prev{
	margin: 20px;
	font-size: 50pt;
	margin-left: -50pt;
}